@charset "UTF-8";
.actualización {
  width: 100%;
  height: 100vh;
  background: var(--bg_black_opacity50);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 200;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
}

.actualización.on {
  opacity: 1;
  pointer-events: visible;
}

.actualización .content-actualización {
  width: 50vw;
  height: 80vh;
  border-radius: 10px;
  place-self: center;
  justify-items: center;
  background-color: var(--bg_white_opacity100);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

.actualización .content-actualización.on {
  opacity: 1;
  pointer-events: visible;
}

.actualización .content-actualización .btn_cancelar {
  position: absolute;
  cursor: pointer;
  -ms-grid-column-align: end;
      justify-self: end;
  width: 45px;
  height: 45px;
  margin: 5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.actualización .content-actualización h1 {
  text-align: center;
  color: var(--text_black_opacity100);
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.actualización .content-actualización hr {
  background-color: var(--bg_black_opacity100);
  width: 90%;
  height: 2px;
  margin: 0 0 10px 0;
  border-radius: 100%;
  border: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.actualización .content-actualización .container-descripcion {
  overflow: hidden;
  overflow-y: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.actualización .content-actualización .container-descripcion .content-descripcion {
  border-radius: 10px;
  border: 1px solid var(--border_gray_claro);
  -ms-grid-column-align: center;
      justify-self: center;
  width: 90%;
  margin-top: 5px;
  background: var(--bg_teal_opacity25);
  display: -ms-grid;
  display: grid;
}

.actualización .content-actualización .container-descripcion .content-descripcion .descripcion {
  color: var(--text_gray_oscuro);
  margin: 5px;
  font-size: 1rem;
}

.actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion {
  border-top-left-radius: 10px;
  border-left: 1px solid var(--border_gray_claro);
  border-top: 1px solid var(--border_gray_claro);
  justify-self: end;
  background: var(--border_gray_claro);
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: -1px -1px 5px var(--shadow_black_opacity25);
          box-shadow: -1px -1px 5px var(--shadow_black_opacity25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion h3 {
  text-align: center;
  padding: 2px;
  margin-right: 5px;
  font-size: .8rem;
}

.actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion hr {
  text-align: center;
  background-color: var(--border_gray_medioClaro);
  width: 2px;
  height: 100%;
  border: none;
}

.actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion h3 {
  padding: 2px;
  font-size: .8rem;
}

.actualización .content-actualización .container-descripcion::-webkit-scrollbar {
  background-color: var(--bg_teal_opacity25);
  border-radius: 25px;
  width: 10px;
}

.actualización .content-actualización .container-descripcion::-webkit-scrollbar-thumb {
  background-color: var(--bg_teal_opacity100);
  border-radius: 25px;
}

@media screen and (max-width: 650px) {
  .actualización .content-actualización {
    width: 90%;
    height: 80vh;
    border-radius: 10px;
    place-self: center;
    justify-items: center;
    background-color: var(--bg_white_opacity100);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[8];
        grid-template-columns: repeat(8, auto);
    -ms-grid-rows: (auto)[8];
        grid-template-rows: repeat(8, auto);
  }
  .actualización .content-actualización .btn_cancelar {
    position: absolute;
    cursor: pointer;
    -ms-grid-column-align: end;
        justify-self: end;
    width: 2rem;
    height: 2rem;
    margin: 5px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .actualización .content-actualización h1 {
    text-align: center;
    color: var(--text_black_opacity100);
    font-size: 1.5rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .actualización .content-actualización hr {
    background-color: var(--bg_black_opacity100);
    width: 90%;
    height: 2px;
    margin: 0 0 10px 0;
    border-radius: 100%;
    border: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .actualización .content-actualización .container-descripcion {
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .actualización .content-actualización .container-descripcion .content-descripcion {
    border-radius: 10px;
    border: 1px solid var(--border_gray_claro);
    -ms-grid-column-align: center;
        justify-self: center;
    width: 90%;
    margin-top: 5px;
    background: var(--bg_teal_opacity25);
    display: -ms-grid;
    display: grid;
  }
  .actualización .content-actualización .container-descripcion .content-descripcion .descripcion {
    color: var(--text_gray_oscuro);
    margin: 5px;
    font-size: 1rem;
  }
  .actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion {
    border-top-left-radius: 10px;
    border-left: 1px solid var(--border_gray_claro);
    border-top: 1px solid var(--border_gray_claro);
    justify-self: end;
    background: var(--border_gray_claro);
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: -1px -1px 5px var(--shadow_black_opacity25);
            box-shadow: -1px -1px 5px var(--shadow_black_opacity25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion h3 {
    text-align: center;
    padding: 2px;
    margin-right: 5px;
    font-size: .8rem;
  }
  .actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion hr {
    text-align: center;
    background-color: var(--border_gray_medioClaro);
    width: 2px;
    height: 100%;
    border: none;
  }
  .actualización .content-actualización .container-descripcion .content-descripcion .fechaHora-descripcion h3 {
    padding: 2px;
    font-size: .8rem;
  }
  .actualización .content-actualización .container-descripcion::-webkit-scrollbar {
    background-color: var(--bg_teal_opacity25);
    border-radius: 25px;
    width: 10px;
  }
  .actualización .content-actualización .container-descripcion::-webkit-scrollbar-thumb {
    background-color: var(--bg_teal_opacity100);
    border-radius: 25px;
  }
}
/*# sourceMappingURL=Actualización.css.map */