* {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	button {
		border: none;
		cursor: pointer;
		border-radius: none;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
			sans-serif;
	}
	input {
		outline: none;
		border-radius: none;
		border: none;
	}
	&::selection {
		background: var(--bg_teal_opacity50);
	}
}
body::-webkit-scrollbar {
	width: 10px;
	background-color: var(--bg_teal_opacity50); //FONDO DE LA BARRA DE NAVEGACION
	border-radius: 15px;
}
body::-webkit-scrollbar-thumb {
	background-color: var(--bg_teal_opacity100); //BARRA DE NAVEGACION
	border-radius: 15px;
}

html {
	scroll-behavior: smooth;
}

//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
body {
	background: var(--bg_white_opacity100);
	transition: .5s;

	display: grid;
	grid-template-columns: repeat(8, auto);
	grid-template-rows: repeat(12, auto);

	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Indicator Scroll¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.indicatorScroll {
		background: var(--bg_teal_opacity25);
		height: 250px;
		width: 20px;
		position: fixed;
		z-index: 500;
		border-radius: 25px;
		top: 25%;
		left: 10px;
		overflow: hidden;
		transition: .3s;
		opacity: 0;
		&.active {
			opacity: 1;
		}
		.indicatorScroll-content {
			background: var(--bg_teal_opacity100);
			width: 100%;
			position: relative;
			border-radius: 50px;
			box-shadow: inset 0 0 5px var(--shadow_black_opacity100);

			display: grid;
			.porcentage-counter {
				background: #4a4c7e;
				justify-self: center;
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				color: var(--text_white_opacity100);
				border-radius: 50px;
				// padding: 2px;
				font-size: 1rem;
				font-weight: 800;
				text-shadow: 0 0 5px var(--shadow_white_opacity100);
				box-shadow: inset 0 0 5px var(--shadow_black_opacity50);
			}
		}
	}

	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Comentarios¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.comments-container {
		position: fixed;
		z-index: 500;
		.comments-content {
			background: var(--bg_gray_oscuro);
			border-radius: 5px;
			box-shadow: 0 0 10px var(--bg_black_opacity50);
			transition: .1s;
			pointer-events: none;
			padding: 5px;
			opacity: 0;
			color: var(--text_gray_medioOscuro);
			position: relative;

			display: grid;
			&.active {
				transition: 1s;
				opacity: 1;
			}
			// title & img
			.imgTitle-comments-area {
				justify-self: center;
				align-items: center;
				gap: 25px;

				display: flex;
				.title-comments {
					color: var(--text_teal_opacity100);
					justify-self: center;
				}
				img {
					width: 100px;
				}
			}
			.paragraph-comments {
				color: var(--text_gray_medioClaro);
			}
		}
	}

	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦btn start¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.btn-start {
		position: fixed;
		bottom: 10px;
		right: 10px;
		margin: 10px;
		padding: 0;
		border: 3px solid var(--border_teal_opacity100);
		background: var(--bg_teal_opacity25);
		border-radius: 50px;
		padding: 0;
		margin: 0;
		width: 50px;
		height: 50px;
		fill: var(--iconSVG_teal_opacity100);
		opacity: 0;
		pointer-events: none;
		transition: 0.3s;
		z-index: 20;
		&.on {
			opacity: 1;
			pointer-events: visible;
		}
	}

	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Information¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.info-container {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: var(--bg_black_opacity75);
		backdrop-filter: blur(5px);
		z-index: 200;
		transition: 0.3s;
		opacity: 0;
		pointer-events: none;

		display: grid;
		&.on {
			opacity: 1;
			pointer-events: visible;
			.info-content {
				width: 50%;
				height: 80%;
			}
		}
		.info-content {
			place-self: center;
			background: var(--bg_white_opacity100);
			border-radius: 5px;
			width: 0%;
			height: 0%;
			overflow: hidden;
			transition: 0.3s;

			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(8, 1fr);
			.title-info {
				font: {
					size: 1.5rem;
					weight: 900;
				}
				color: var(--text_teal_opacity100);
				text-align: center;
				place-items: center;
				justify-self: center;
				background: var(--bg_gray_medioClaro);
				width: 100%;
				margin-top: 0;

				display: grid;
				grid-column: 1/9;
				grid-row: 1/2;
			}
			.info {
				overflow: auto;
				overflow-x: hidden;
				margin-bottom: 5px;
				place-items: center;
				transition: 0.3s;

				display: grid;
				grid-column: 2/8;
				grid-row: 2/9;
				grid-template-columns: 1, 1fr;
				grid-template-rows: 1, 1fr;
				img {
					width: 100%;

					grid-column: 1/3;
					grid-row: 1/3;
				}
				&::-webkit-scrollbar {
					width: 5px;
					background: var(--bg_teal_opacity25);
					border-radius: 25px;
				}
				&::-webkit-scrollbar-thumb {
					background: var(--bg_teal_opacity100);
					border-radius: 25px;
				}
			}
			button {
				border: none;
				border-radius: none;
				border-radius: 5px;
				color: var(--text_white_opacity100);
				cursor: pointer;
				z-index: 50;
				&:hover {
					background: var(--bg_dodgerBlue_opacity50);
				}
				&:active {
					background: var(--bg_dodgerBlue_opacity75);
				}
			}
			.btn-leaveInfo {
				box-shadow: 0 0 10px var(--shadow_black_opacity25);
				background: var(--bg_dodgerBlue_opacity100);
				font-size: 1rem;
				padding: 0 10px;
				margin: 5px;
				place-self: end;

				grid-column: 7/9;
				grid-row: 8/9;
			}
			.btn-back-info {
				background: var(--bg_black_opacity25);
				width: 70%;
				height: 50%;
				place-self: center;
				font: {
					size: 1.5rem;
					weight: 900;
				}
				opacity: 0;
				pointer-events: none;
				fill: var(--iconSVG_white_opacity100);

				grid-column: 1/2;
				grid-row: 2/8;
				&.on {
					opacity: 1;
					pointer-events: visible;
				}
			}
			.btn-next-info {
				background: var(--bg_black_opacity25);
				width: 70%;
				height: 50%;
				place-self: center;
				font: {
					size: 1.5rem;
					weight: 900;
				}
				opacity: 0;
				pointer-events: none;
				fill: var(--iconSVG_white_opacity100);

				grid-column: 8/9;
				grid-row: 2/8;
				&.on {
					opacity: 1;
					pointer-events: visible;
				}
			}
		}
	}

	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Clases¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
	.moveLeft {
		transition: 0.5s;
		transform: translateX(-100%);
	}
	.moveRight {
		transform: translateX(100%);
		transition: 0.5s;
	}
	.moveCenter {
		transform: translateX(0);
		transition: 0.5s;
	}
}

//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media screen and (max-width: 800px) {
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘Información◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘Información◘◘◘◘◘◘Información◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘Información◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘Información◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘Información◘◘◘◘◘◘Información◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘Información◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	// ◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘◘
	.info-container {
		position: fixed;
		width: 100%;
		height: 100vh;
		background: var(--bg_black_opacity75);
		backdrop-filter: blur(5px);
		z-index: 200;
		transition: .3s;
		opacity: 0;
		pointer-events: none;

		display: grid;
		&.on {
			opacity: 1;
			pointer-events: visible;
			.info-content {
				width: 90% !important;
				height: 60% !important;
			}
		}
		.info-content {
			place-self: center;
			background: var(--bg_black_opacity100);
			border-radius: 5px;
			width: 0%;
			height: 0%;
			overflow: hidden;
			transition: .3s;

			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(8, 1fr);
			.title-info {
				font: {
					size: 1.5rem;
					weight: 900;
				}
				color: var(--text_teal_opacity100);
				text-align: center;
				place-items: center;
				justify-self: center;
				background: var(--bg_gray_medioClaro);
				width: 100%;

				display: grid;
				grid-column: 1/9;
				grid-row: 1/2;
			}
			.info {
				overflow: auto;
				margin-bottom: 5px;
				place-items: center;

				display: grid;
				grid-column: 2/8;
				grid-row: 2/9;
				img {
					width: 100%;
					cursor: pointer;
				}
			}
			button {
				border: none;
				border-radius: none;
				border-radius: 5px;
				color: var(--text_white_opacity100);
				cursor: pointer;
				z-index: 50;
				&:hover {
					background: var(--bg_dodgerBlue_opacity50);
				}
				&:active {
					background: var(--bg_dodgerBlue_opacity75);
				}
			}
			.btn-leaveInfo {
				box-shadow: 0 0 10px var(--shadow_black_opacity25);
				background: var(--bg_dodgerBlue_opacity100);
				font-size: 1rem;
				padding: 0 10px;
				margin: 5px;
				place-self: end;

				grid-column: 7/9;
				grid-row: 8/9;
			}
		}
	}
}
