//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
.contacto {
	justify-self: center;
	display: grid;
	grid-column: 1/9;
	grid-row: 5/6;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
	// title
	.title-contact-container {
		background-color: var(--bg_aliceBlue);
		justify-self: center;
		place-items: center;
		outline: 2px solid var(--border_gray_claro);
		box-shadow: 0 -10px 10px var(--shadow_black_opacity50);
		padding: 5px;
		width: min-content;
		height: min-content;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		z-index: 2;
		transition: 0.5s;

		display: flex;
		grid-column: 1/3;
		grid-row: 1/2;
		&.darkMode {
			background-color: var(--bg_gray_oscuro);
			box-shadow: 0 -10px 10px var(--shadow_white_opacity50);
		}
		// TITULO====================
		h3 {
			font-size: 1.5rem;
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
			margin-right: 10px;
			color: var(--text_teal_opacity100);
			transition: 0.5s;
			&.darkMode {
				color: var(--text_gray_claro);
			}
		}
		// LOGO SVG====================
		svg {
			width: 2rem;
			fill: var(--iconSVG_teal_opacity100);
			transition: 0.5s;
			&.darkMode {
				fill: var(--iconSVG_gray_claro);
			}
		}
	}

	// content
	.contact-content {
		border: 2px solid var(--border_gray_claro);
		overflow: hidden;
		box-shadow: 0 0 10px var(--shadow_black_opacity100);
		background-color: var(--bg_aliceBlue);
		margin: 0 4% 75px 4%;
		padding: 4%;
		border-radius: 10px;
		transition: 0.5s;
		justify-content: space-between;

		display: flex;
		grid-column: 1/3;
		grid-row: 2/3;
		// lineas divisoras de los contenedores
		hr {
			margin-left: 10px;
			margin-right: 10px;
			background: var(--iconSVG_gray_medioOscuro);
			width: 2px;
			border: none;
			outline: none;
		}
		// contenedores
		div {
			width: auto;
			// title
			h1 {
				font-size: 1.5rem;
			}
		}
		// pensamiento content
		.thought-container {
			display: grid;
			p {
				text-align: left;
				font-family: monospace;
				font-size: 1rem;
				border-radius: 5px;
				font-weight: 700;
				color: var(--text_gray_medioOscuro);
			}
			.autorWrite {
				margin-top: 10px;
				text-align: end;
				text-decoration: underline 1px solid #000;
				color: var(--text_black_opacity100);
			}
		}

		// redes sociales content
		.redesSociales-container {
			justify-items: center;
			height: min-content;

			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(8, auto);
			h1 {
				grid-column: 1/9;
				grid-row: 1/3;
			}
			/**
		**  logos de las redes sociales y sus names
		*/
			// redes
			.redes-container {
				width: 100%;
				place-self: center;

				display: grid;
				grid-column: 1/9;
				grid-row: 3/5;
				div {
					width: 100%;

					display: flex;
					div {
						a {
							place-items: center;
							width: 100%;
							transition: .5s;
							text-decoration: none;

							display: grid;
							img {
								transition: .3s;
								width: 50%;
								&:hover {
									cursor: pointer;
									transform: scale(1.2);
									opacity: .8;
								}
							}
							h3 {
								padding: 0px 4px;
								font-size: .8rem;
								margin-top: 5px;
								color: var(--text_black_opacity100);
								&:hover {
									background: var(--bg_teal_opacity100);
									border-radius: 5px;
									transition: .5s;
									cursor: pointer;
								}
							}
						}
					}
				}
			}
			// Códigos QR
			.codigosQR-container {
				width: 100%;
				margin-top: 50px;

				display: grid;
				grid-column: 1/12;
				grid-row: 5/9;
				div {
					display: flex;
					div {
						width: 100%;
						place-items: center;

						display: grid;
						h3 {
							border-radius: 0;
							background: none;
							pointer-events: none;
							font: {
								size: .6rem;
								weight: 900;
							}
						}
						img {
							pointer-events: none;
							border-radius: 0;
							background: none;
							width: 50%;
						}
					}
				}
			}
		}

		// información de contacto
		.infoContact-container {
			display: grid;
			grid-template-columns: repeat(8, auto);
			grid-template-rows: repeat(8, auto);
			// title primary
			h1 {
				text-align: center;

				grid-column: 1/9;
				grid-row: 1/2;
			}

			//contenedores
			div {
				height: min-content;
				box-shadow: 0 5px 5px var(--shadow_black_opacity25);
				border-radius: 10px;
				width: 100%;
				padding: 0 5px;
				align-items: center;
				color: var(--text_gray_medioOscuro);
				text-align: start;
				svg {
					fill: var(--iconSVG_gray_medioOscuro);
					width: 3rem;
				}
				h3 {
					font-size: 1rem;
				}
			}

			// adress content
			.direction-content {
				display: flex;
				grid-column: 1/9;
				grid-row: 2/3;
			}
			// number phone content
			.numTel-content {
				display: flex;
				grid-column: 1/9;
				grid-row: 4/5;
			}
			// email content
			.email-content {
				display: flex;
				grid-column: 1/9;
				grid-row: 6/7;
			}
		}
	}
	// messagge direct container
	.messaggeDirect-container {
		overflow: hidden;
		margin: 25px 4% 75px 4%;
		border-radius: 10px;
		position: relative;
		height: 300px;
		transition: 0.5s;
		background: linear-gradient(90deg, #a5a6c7 0%, #a5a6c7 50%, #4a4c7e 50%, #4a4c7e 100%);

		display: flex;
		grid-column: 1/3;
		grid-row: 3/4;
		// title primary
		.titlePrimary-messaggeDirect {
			margin-right: 10px;
			width: 100%;
			position: absolute;

			display: grid;
			h1 {
				justify-self: center;
			}
		}
		// imagen
		span {
			width: 50%;
			display: grid;
			img {
				place-self: center;
				width: 50%;
				height: min-content;
				place-self: center;
			}
		}
		// formulario de envío
		.messaggeDirect-content {
			justify-self: center;
			margin: 25px;
			padding-left: 25px;
			padding-top: 10px;
			width: 50%;

			display: grid;
			grid-template-columns: repeat(6, auto);
			grid-template-rows: repeat(6, auto);
			.input-content {
				justify-content: center;
				margin-bottom: 15px;

				display: flex;
				flex-direction: column;
				grid-column: 1/7;
				grid-row: 1/2;
				span {
					align-content: center;
					margin-top: 10px;
					width: 100%;

					display: flex;
					svg {
						fill: var(--shadow_white_opacity100);
						width: 30px;
					}
					input {
						color: var(--text_gray_medioOscuro);
						font-size: 1.2rem;
						width: 70%;
						padding-left: 10px;
						margin-left: 10px;
						border-radius: 10px;
						&::placeholder {
							color: var(--text_teal_opacity100);
							opacity: .5;
						}
						&:focus {
							box-shadow: 0 0 10px var(--shadow_black_opacity50);
						}
					}
				}
			}
			textarea {
				resize: none;
				border-radius: 10px;
				padding: 10px;
				font-size: 1.2rem;
				width: 90%;
				height: 80%;
				border: none;
				outline: none;
				color: var(--text_gray_medioOscuro);

				grid-column: 1/7;
				grid-row: 2/3;
				&:focus {
					border: none;
					outline: none;
					box-shadow: 0 0 10px var(--shadow_black_opacity50);
				}
				&::placeholder {
					opacity: .5;
					color: var(--text_teal_opacity100);
				}
			}
			// btn send
			.btn-send-messaggeDirect {
				justify-self: end;
				background: var(--bg_teal_opacity100);
				border-radius: 5px;
				margin-top: 25px;
				text-align: center;
				align-items: center;
				width: min-content;
				width: 100px;
				height: 30px;
				justify-content: space-between;
				padding: 0 5px;
				cursor: pointer;
				transition: .3s;

				display: flex;
				grid-column: 1/7;
				grid: 3/4;
				h3 {
					font-size: 1rem;
					color: var(--text_white_opacity100);
				}
				svg {
					width: 25px;
					transition: .5s;
					fill: var(--iconSVG_white_opacity100);
					@keyframes identifier {
						0% {
							transform: translateX(-15px);
						}
						50% {
							transform: translateX(15px) scale(2);
						}
						100% {
							transform: translateX(-15px);
						}
					}
				}
				&:hover {
					box-shadow: 0 0 10px var(--shadow_black_opacity50);
					svg {
						animation: identifier 1s linear infinite;
					}
				}
				&:active {
					transition: 0;
					box-shadow: none;
				}
			}
		}
	}
}

//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media screen and (max-width: 650px) {
	.contacto {
		// content
		.contact-content {
			gap: 50px; //edit (add: gap)

			display: flex;
			flex-direction: column;
			grid-column: 1/3;
			grid-row: 2/3;
			// lineas divisoras de contenedores
			hr {
				display: none; //edit (delete: block, add: none)
			}
			// contenedor
			div {
				width: auto; 
				// title
				h1 {
					text-align: center;
					color: var(--text_teal_opacity100);
					font-size: 1.5rem;
				}
			}

			// redes sociales content
			.redesSociales-container {
				width: 100%;
				margin: 0 0 25px 0;
				justify-items: center;
				height: min-content;

				display: grid;
				grid-template-columns: repeat(12, auto);
				grid-template-rows: repeat(12, auto);
				// Titulo
				h1 {
					color: var(--text_teal_opacity100);
					font-size: 1.3rem;

					grid-column: 1/12;
					grid-row: 1/2;
				}
				// logos de las redes sociales
				// redes sociales
				.redes-container {
					width: 100%;
					justify-self: center;
					margin-top: 15px;

					display: grid;
					grid-column: 1/9;
					grid-row: 3/5;
					div {
						width: 100%;

						display: flex;
						div {
							a {
								box-shadow: 0 0 5px var(--shadow_black_opacity25);
								border-radius: 25px;
								place-items: center;
								width: 100%;
								transition: .5s;
								text-decoration: none;
								margin: 0 10px 10px;
								&:active {
									background-color: var(--bg_teal_opacity75);
								}

								display: grid;
								img {
									transition: .3s;
									width: 50%;
									&:hover {
										cursor: pointer;
										box-shadow: none;
										border-radius: none;
									}
								}
								h3 {
									padding: 0px 4px;
									font-size: .8rem;
									margin-top: 5px;
									color: var(--text_black_opacity100);
									&:hover {
										background: none;
										border-radius: none;
										transition: .5s;
										cursor: pointer;
									}
								}
							}
						}
					}
				}
				// logos de los códigos QR (oculta)
				.codigosQR-container {
					display: none; //edit (delete: grid, add: none)
				}
			}
			// información de contacto
			.infoContact-container {
				gap: 10px;

				display: grid;
				grid-template-columns: repeat(8, auto);
				grid-template-rows: repeat(8, auto);
				//contenedores
				div {
					box-shadow: 0 0 5px var(--shadow_black_opacity25); //edit (delete 5px add 0px)
					border-radius: 10px;
					width: 100%;
					padding: 0 5px;
					align-items: center;
					gap: 10px; //edit (new)
					color: var(--text_gray_medioOscuro);
					text-align: start;
					svg {
						fill: var(--iconSVG_gray_medioOscuro);
						width: 3rem;
						opacity: 0.7;
					}
					h3 {
						font-size: 1rem;
					}
				}

				// adress content
				.direction-content {
					display: flex;
					grid-column: 1/9;
					grid-row: 2/3;
				}
				// number phone content
				.numTel-content {
					display: flex;
					grid-column: 1/9;
					grid-row: 4/5;
				}
				// email content
				.email-content {
					display: flex;
					grid-column: 1/9;
					grid-row: 6/7;
				}
			}
		}
		// messagge direct
		.messaggeDirect-container {
			height: min-content; //edit (delete: 300px, add: min-content)
			background: linear-gradient(
				0deg,
				#a5a6c7 0%,
				#a5a6c7 60%,
				#4a4c7e 60%,
				#4a4c7e 100%
			); //edit (delete: [90deg, 30%, 30%], add: [0deg, 60%, 60%])

			flex-direction: column; // edit (add: flex-direction)
			// title primary
			.titlePrimary-messaggeDirect {
				position: relative; // edit (delete: absolute, add: relative)
				height: 5%; // edit (add: height)
				margin-bottom: 10px; // edit (add: 10px)
				padding: 5px; // edit (add: px)
				h1 {
					border: 2px solid #a5a6c7;
					border-radius: 10px; // edit (add: border-radius)
					margin-right: 0px; // edit (delete: 10px, add: 0)
					background: linear-gradient(
						90deg,
						#a5a6c7 0%,
						#a5a6c7 50%,
						#4a4c7e 50%,
						#4a4c7e 100%
					); // edit (add: background)
				}
			}
			// imagen
			span {
				margin-top: 10px; // edit (add: 10px)
				width: auto; // edit (delete: 50%, add: auto)
				height: 20%;
				// edit (add: 20%)
			}
			// formulario de envío
			.messaggeDirect-content {
				margin: 0; // edit (delete: 25px, add: 0)
				width: auto; // edit (delete: 50%, add: auto)
				height: 70%; // edit (add: 70%)
				.input-content {
					margin-bottom: 5px; // edit (delete: 15x, add: 5px)
					span {
						svg {
							width: 70px; // edit (delete: 30px, add: 70px)
						}
						input {
							padding: 10px; // edit (add: all 10px)
							margin-left: 0; // edit (delete: 10px, add: 0)
						}
					}
				} // btn send
				.btn-send-messaggeDirect {
					width: 115px; // edit (delete: 100px, add: 115px)
					height: 40px;
					// edit (delete: 30, add: 40px)
					margin: 15px;
					// edit (add: 15px)
					h3 {
						font-size: 1.2rem;
					}
					svg {
						animation: identifier 3s ease infinite; // edit (delete: 1s, add: 3s)
						@keyframes identifier {
							0% {
								transform: translateX(-15px); // edit (delete: , add: )
							}
							50% {
								transform: translateX(5px); // edit (delete: 15px, add: 5px)
							}
							100% {
								transform: translateX(-15px);
							}
						}
					}
					&:hover {
						svg {
							animation: identifier 3s ease infinite; // edit (delete: 1s, add: 3s)
						}
						box-shadow: none; // edit (delete: underline, add: none)
					}
				}
			}
		}
	}
}
