.contacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
}

.contacto .title-contact-container {
  background-color: var(--bg_aliceBlue);
  justify-self: center;
  place-items: center;
  outline: 2px solid var(--border_gray_claro);
  -webkit-box-shadow: 0 -10px 10px var(--shadow_black_opacity50);
          box-shadow: 0 -10px 10px var(--shadow_black_opacity50);
  padding: 5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.contacto .title-contact-container.darkMode {
  background-color: var(--bg_gray_oscuro);
  -webkit-box-shadow: 0 -10px 10px var(--shadow_white_opacity50);
          box-shadow: 0 -10px 10px var(--shadow_white_opacity50);
}

.contacto .title-contact-container h3 {
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 10px;
  color: var(--text_teal_opacity100);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacto .title-contact-container h3.darkMode {
  color: var(--text_gray_claro);
}

.contacto .title-contact-container svg {
  width: 2rem;
  fill: var(--iconSVG_teal_opacity100);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacto .title-contact-container svg.darkMode {
  fill: var(--iconSVG_gray_claro);
}

.contacto .contact-content {
  border: 2px solid var(--border_gray_claro);
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px var(--shadow_black_opacity100);
          box-shadow: 0 0 10px var(--shadow_black_opacity100);
  background-color: var(--bg_aliceBlue);
  margin: 0 4% 75px 4%;
  padding: 4%;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  /**
		*? Lineas divisoras de los tres contenedores
		*/
}

.contacto .contact-content hr {
  background: var(--iconSVG_gray_medioOscuro);
  width: 2px;
  border: none;
  outline: none;
}

.contacto .contact-content .thought-container {
  width: 30%;
  display: -ms-grid;
  display: grid;
}

.contacto .contact-content .thought-container h1 {
  font-size: 1.5rem;
}

.contacto .contact-content .thought-container p {
  text-align: left;
  font-family: monospace;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 700;
  color: var(--text_gray_medioOscuro);
}

.contacto .contact-content .thought-container .autorWrite {
  margin-top: 10px;
  text-align: end;
  -webkit-text-decoration: underline 1px solid #000;
          text-decoration: underline 1px solid #000;
  color: var(--text_black_opacity100);
}

.contacto .contact-content .redesSociales-container {
  width: 30%;
  justify-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
  /**
		**  logos de las redes sociales y sus names
		*/
}

.contacto .contact-content .redesSociales-container h1 {
  font-size: 1.5rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.contacto .contact-content .redesSociales-container .redes-container {
  width: 100%;
  place-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.contacto .contact-content .redesSociales-container .redes-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto .contact-content .redesSociales-container .redes-container div div a {
  place-items: center;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
}

.contacto .contact-content .redesSociales-container .redes-container div div a img {
  -webkit-transition: .3s;
  transition: .3s;
  width: 50%;
}

.contacto .contact-content .redesSociales-container .redes-container div div a img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .8;
}

.contacto .contact-content .redesSociales-container .redes-container div div a h3 {
  padding: 0px 4px;
  font-size: .8rem;
  margin-top: 5px;
  color: var(--text_black_opacity100);
}

.contacto .contact-content .redesSociales-container .redes-container div div a h3:hover {
  background: var(--bg_teal_opacity100);
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.contacto .contact-content .redesSociales-container .codigosQR-container {
  width: 100%;
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.contacto .contact-content .redesSociales-container .codigosQR-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacto .contact-content .redesSociales-container .codigosQR-container div div {
  width: 100%;
  place-items: center;
  display: -ms-grid;
  display: grid;
}

.contacto .contact-content .redesSociales-container .codigosQR-container div div h3 {
  border-radius: 0;
  background: none;
  pointer-events: none;
  font-size: .6rem;
  font-weight: 900;
}

.contacto .contact-content .redesSociales-container .codigosQR-container div div img {
  pointer-events: none;
  border-radius: 0;
  background: none;
  width: 50%;
}

.contacto .contact-content .infoContact-container {
  width: 30%;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
  /**
        ** Todos los contenedores
        */
}

.contacto .contact-content .infoContact-container h1 {
  width: 100%;
  gap: 25px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.contacto .contact-content .infoContact-container h3 {
  font-size: 1rem;
}

.contacto .contact-content .infoContact-container div {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: 0 5px 5px var(--shadow_black_opacity25);
          box-shadow: 0 5px 5px var(--shadow_black_opacity25);
  border-radius: 10px;
}

.contacto .contact-content .infoContact-container .direction-content {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  gap: 25px;
  color: var(--text_gray_medioOscuro);
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.contacto .contact-content .infoContact-container .direction-content svg {
  fill: var(--iconSVG_gray_medioOscuro);
  width: 10rem;
}

.contacto .contact-content .infoContact-container .numTel-content {
  padding: 0 5px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: var(--text_gray_medioOscuro);
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.contacto .contact-content .infoContact-container .numTel-content svg {
  fill: var(--iconSVG_gray_medioOscuro);
  width: 3.5rem;
}

.contacto .contact-content .infoContact-container .email-content {
  padding: 0 5px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  color: var(--text_gray_medioOscuro);
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
}

.contacto .contact-content .infoContact-container .email-content svg {
  fill: var(--iconSVG_gray_medioOscuro);
  width: 3.5rem;
}

@media screen and (max-width: 650px) {
  .contacto .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    /**
        ** Lineas divisoras de los tres contenedores
        */
  }
  .contacto .contact-content hr {
    background: var(--iconSVG_gray_medioOscuro);
    width: 2px;
    border: none;
    outline: none;
  }
  .contacto .contact-content .thought-container {
    width: 100%;
    margin: 0 0 25px 0;
    display: -ms-grid;
    display: grid;
  }
  .contacto .contact-content .thought-container h1 {
    font-size: 1.3rem;
    -ms-grid-column-align: center;
        justify-self: center;
    color: var(--text_teal_opacity100);
  }
  .contacto .contact-content .thought-container p {
    text-align: start;
    font-family: monospace;
    font-size: 1rem;
  }
  .contacto .contact-content .redesSociales-container {
    width: 100%;
    margin: 0 0 25px 0;
    justify-items: center;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[12];
        grid-template-columns: repeat(12, auto);
    -ms-grid-rows: (auto)[12];
        grid-template-rows: repeat(12, auto);
    /**
            **  logos de las redes sociales y sus names
            */
  }
  .contacto .contact-content .redesSociales-container h1 {
    color: var(--text_teal_opacity100);
    font-size: 1.3rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/12;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .contacto .contact-content .redesSociales-container .redes-container {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 15px;
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .contacto .contact-content .redesSociales-container .redes-container div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacto .contact-content .redesSociales-container .redes-container div div a {
    -webkit-box-shadow: 0 0 5px var(--shadow_black_opacity25);
            box-shadow: 0 0 5px var(--shadow_black_opacity25);
    border-radius: 25px;
    place-items: center;
    width: 100%;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    margin: 0 10px 10px;
    display: -ms-grid;
    display: grid;
  }
  .contacto .contact-content .redesSociales-container .redes-container div div a:active {
    background-color: var(--bg_teal_opacity75);
  }
  .contacto .contact-content .redesSociales-container .redes-container div div a img {
    -webkit-transition: .3s;
    transition: .3s;
    width: 50%;
  }
  .contacto .contact-content .redesSociales-container .redes-container div div a img:hover {
    cursor: pointer;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: none;
  }
  .contacto .contact-content .redesSociales-container .redes-container div div a h3 {
    padding: 0px 4px;
    font-size: .8rem;
    margin-top: 5px;
    color: var(--text_black_opacity100);
  }
  .contacto .contact-content .redesSociales-container .redes-container div div a h3:hover {
    background: none;
    border-radius: none;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
  }
  .contacto .contact-content .redesSociales-container .codigosQR-container {
    width: 100%;
    margin-top: 25px;
    display: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 11;
    grid-column: 1/12;
    -ms-grid-row: 5;
    -ms-grid-row-span: 4;
    grid-row: 5/9;
  }
  .contacto .contact-content .redesSociales-container .codigosQR-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contacto .contact-content .redesSociales-container .codigosQR-container div div {
    width: 100%;
    place-items: center;
    display: -ms-grid;
    display: grid;
  }
  .contacto .contact-content .redesSociales-container .codigosQR-container div div h3 {
    border-radius: 0;
    background: none;
    pointer-events: none;
    font-size: .6rem;
    font-weight: 900;
  }
  .contacto .contact-content .redesSociales-container .codigosQR-container div div img {
    pointer-events: none;
    border-radius: 0;
    background: none;
    width: 50%;
  }
  .contacto .contact-content .infoContact-container {
    width: 100%;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[8];
        grid-template-columns: repeat(8, auto);
    -ms-grid-rows: (auto)[8];
        grid-template-rows: repeat(8, auto);
    /**
        ** Todos los contenedores
        */
  }
  .contacto .contact-content .infoContact-container h1 {
    width: 100%;
    font-size: 1.6rem;
    gap: 25px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .contacto .contact-content .infoContact-container h3 {
    font-size: 1rem;
  }
  .contacto .contact-content .infoContact-container div {
    -webkit-box-shadow: 0 5px 5px var(--shadow_black_opacity25);
            box-shadow: 0 5px 5px var(--shadow_black_opacity25);
    border-radius: 10px;
    padding-bottom: 3px;
  }
  .contacto .contact-content .infoContact-container .direction-content {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 5px;
    gap: 25px;
    color: var(--text_gray_medioOscuro);
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .contacto .contact-content .infoContact-container .direction-content svg {
    fill: var(--iconSVG_gray_medioOscuro);
    width: 7rem;
  }
  .contacto .contact-content .infoContact-container .numTel-content {
    padding: 0 5px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    color: var(--text_gray_medioOscuro);
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .contacto .contact-content .infoContact-container .numTel-content svg {
    fill: var(--iconSVG_gray_medioOscuro);
    width: 3.5rem;
  }
  .contacto .contact-content .infoContact-container .email-content {
    padding: 0 5px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
    color: var(--text_gray_medioOscuro);
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .contacto .contact-content .infoContact-container .email-content svg {
    fill: var(--iconSVG_gray_medioOscuro);
    width: 3.5rem;
  }
}
/*# sourceMappingURL=contacto.css.map */