//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
.project {
	width: 100%;
	justify-items: center;
	gap: 25px;
	padding-top: 50px;

	display: grid;
	grid-column: 1/9;
	grid-row: 4/5;
	// title
	.title-project-container {
		color: #e4f5ef;
		background: linear-gradient(90deg, #4a4c7e 0%, #4a4c7e 78%, #A5A6C7 78%, #A5A6C7 100%);
		border-radius: 10px;
		padding: 0 10px;
		width: fit-content;
		z-index: 10;
		transition: 0.5s;
		font-size: 2rem;
		align-items: center;

		display: flex;
		// title
		h3 {
			font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
			margin-right: 10px;
			transition: 0.5s;
		}
		// icon
		i {
			color: #008080;
			transition: 0.5s;
			animation: animateTitle 1.5s linear infinite;
		}
	}
	// content
	.project-container {
		width: 90%;
		justify-content: space-evenly;
		gap: 20px;

		display: flex;
		flex-direction: column;
		// content
		.project-content {
			gap: 25px;
			transition: 0.5s;
			padding: 10px;
			justify-content: space-between;

			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
			// grid-template-rows: repeat(auto-fill), minmax(auto, 200px);
			&.darkMode {
				color: #cacaca;
				box-shadow: 0 0 10px #ffffff;
			}
			// cards
			div {
				justify-self: center;
				height: min-content;
				box-shadow: 0 0 5px #00000086;
				border-radius: 15px;
				div {
					justify-content: center;

					display: flex;
					flex-direction: column;
					img {
						box-shadow: inset 0 0 5px #000000;
						border-radius: 15px;
						width: 100%;
						cursor: pointer;
						filter: drop-shadow(0 0 5px #000);
					}
					h1 {
						text-align: center;
						font-size: 1rem;
						color: var(--textGray1);
					}
				}
			}
		}
		// button
		span {
			width: 100%;

			display: grid;
			button {
				justify-self: center;
				align-self: flex-end;
				border-radius: 5px;
				background: #008080;
				box-shadow: 0 -5px 10px #00808040;
				width: 25%;
				padding: 5px 0;
				color: #fff;
				&:hover {
					box-shadow: 0 0 10px #008080;
				}
				&:active {
					box-shadow: none;
				}
			}
		}
	}
	// padding-box
	.padding-box {
		margin: 75px;
		width: 100%;
		height: 25px;
		box-shadow: inset 0 0 5px #000, inset 0 0 5px #fff, 0 0 5px #000;
		background: 
			linear-gradient(
				-45deg,
				#4a4c7e 0%,
				#4a4c7e 20%,
				#e4f5ef 20%,
				#e4f5ef 40%,
				#008080 40%, 
				#008080 60%,
				#e4f5ef 60%,
				#e4f5ef 80%,
				#a5a6c7 80%,
				#a5a6c7 100%
			);
	}
}

//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media (max-width: 800px) {
	.project {
		.project-container {
			.project-content {
				grid-template-columns: repeat(auto-fit, minmax(auto, 100px)); //edit (remove: 150px, add: 100px)
			}
		}
	}
}
