//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
.project {
	width: 100%;
	justify-items: center;
	gap: 25px;
	padding: 50px 0;

	display: grid;
	grid-column: 1/9;
	grid-row: 4/5;
	// title
	.title-project-container {
		color: #e4f5ef;
		background: linear-gradient(90deg, #4a4c7e 0%, #4a4c7e 77%, #a5a6c7 77%, #a5a6c7 100%);
		border-radius: 10px;
		padding: 0 10px;
		width: fit-content;
		z-index: 10;
		transition: 0.5s;
		font-size: 2rem;
		align-items: center;

		display: flex;
		// title
		h3 {
			margin-right: 10px;
			transition: 0.5s;
		}
		// icon
		i {
			color: #4a4c7e;
			transition: 0.5s;
			animation: animateTitle 1.5s linear infinite;
		}
	}
	// content
	.project-container {
		width: 90%;
		justify-content: space-evenly;
		gap: 20px;

		display: flex;
		flex-direction: column;
		// content
		.project-content {
			gap: 25px;
			transition: 0.5s;
			padding: 10px;
			justify-content: space-between;

			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
			// cards
			div {
				justify-self: center;
				height: min-content;
				box-shadow: 0 0 5px #00000086;
				border-radius: 15px;
				padding: 5px;
				div {
					justify-content: center;

					display: flex;
					flex-direction: column;
					img {
						box-shadow: inset 0 0 5px #000000;
						border-radius: 15px;
						width: 100%;
						cursor: pointer;
						filter: drop-shadow(0 0 5px #000);
					}
					h1 {
						text-align: center;
						font-size: 1rem;
						color: var(--textGray1);
					}
				}
			}
		}
		// btn "ver mas"
		button {
			place-self: flex-end;
			align-items: center;
			width: 25%;
			height: 40px;
			border-radius: 5px;
			background: #1c003b;
			padding: 5px 0;
			color: #fff;
			font-size: 1.1rem;
			z-index: 50;
			position: relative;
			overflow: hidden;

			display: grid;
			&:hover {
				box-shadow: 0 0 10px #000000;
				.door-lock {
					.left {
						transform: translateX(0);
					}
					.right {
						transform: translateX(0);
					}
				}
			}
			&::after {
				content: "";
				background: #1c003b;
				width: 98%;
				height: 92%;
				border-radius: 5px;
				left: 2px;
				top: 2px;
				position: absolute;
			}
			h3 {
				z-index: 200;
			}
			.door-lock {
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 100;
				color: #ffffff;

				display: flex;
				dir {
					width: 50%;
					height: 100%;
					transition: .5s;
				}
				.left {
					transform: translateX(-110%);
					background: #008080;
				}
				
				.right {
					transform: translateX(110%);
					background: #a5a6c7;
				}
			}
			.animate-lines {
				background: #008080;
				width: 150%;
				height: 25px;
				position: absolute;
				top: calc(50% - 12px);
				left: calc(50% - 75%);
				animation: animate-span 10s linear infinite;
				@keyframes animate-span {
					0% {
						transform: rotate(0);
					}
					100% {
						transform: rotate(360deg);
					}
				}
			}
		}
	}
	// padding-box
	.padding-box {
		width: 100%;
		background: #4A4C7E;
		justify-content: space-evenly;
		overflow: hidden;
		margin-top: 50px;

		display: flex;
		img {
			width: 10%;
			animation: animate 3s linear infinite;
			@keyframes animate {
				0% {
					transform: rotate(0);
				}
				25% {
					transform: rotate(45deg);
				}
				50% {
					transform: rotate(0deg);
				}
				75% {
					transform: rotate(-45deg);
				}
				100% {
					transform: rotate(0);
				}
			}
		}
	}
}

//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media (max-width: 800px) {
	.project {
		.project-container {
			.project-content {
				grid-template-columns: repeat(auto-fit, minmax(auto, 100px)); //edit (remove: 150px, add: 100px)
				button {
					&:hove {
						box-shadow: none;
					}
					&:active {
						box-shadow: 0 0 10px #000000;
					}
				}
			}
		}
	}
}
