.project {
  width: 100%;
  justify-items: center;
  gap: 25px;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.project .title-project-container {
  color: #e4f5ef;
  background: -webkit-gradient(linear, left top, right top, from(#4a4c7e), color-stop(77%, #4a4c7e), color-stop(77%, #a5a6c7), to(#a5a6c7));
  background: linear-gradient(90deg, #4a4c7e 0%, #4a4c7e 77%, #a5a6c7 77%, #a5a6c7 100%);
  border-radius: 10px;
  padding: 0 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .title-project-container h3 {
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project .title-project-container i {
  color: #4a4c7e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: animateTitle 1.5s linear infinite;
          animation: animateTitle 1.5s linear infinite;
}

.project .project-container {
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .project-container .project-content {
  gap: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 150px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
}

.project .project-container .project-content div {
  -ms-grid-column-align: center;
      justify-self: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0 0 5px #00000086;
          box-shadow: 0 0 5px #00000086;
  border-radius: 15px;
  padding: 5px;
}

.project .project-container .project-content div div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .project-container .project-content div div img {
  -webkit-box-shadow: inset 0 0 5px #000000;
          box-shadow: inset 0 0 5px #000000;
  border-radius: 15px;
  width: 100%;
  cursor: pointer;
  -webkit-filter: drop-shadow(0 0 5px #000);
          filter: drop-shadow(0 0 5px #000);
}

.project .project-container .project-content div div h1 {
  text-align: center;
  font-size: 1rem;
  color: var(--textGray1);
}

.project .project-container button {
  place-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  height: 40px;
  border-radius: 5px;
  background: #1c003b;
  padding: 5px 0;
  color: #fff;
  font-size: 1.1rem;
  z-index: 50;
  position: relative;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
}

.project .project-container button:hover {
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
}

.project .project-container button:hover .door-lock .left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project .project-container button:hover .door-lock .right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.project .project-container button::after {
  content: "";
  background: #1c003b;
  width: 98%;
  height: 92%;
  border-radius: 5px;
  left: 2px;
  top: 2px;
  position: absolute;
}

.project .project-container button h3 {
  z-index: 200;
}

.project .project-container button .door-lock {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .project-container button .door-lock dir {
  width: 50%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.project .project-container button .door-lock .left {
  -webkit-transform: translateX(-110%);
          transform: translateX(-110%);
  background: #008080;
}

.project .project-container button .door-lock .right {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  background: #a5a6c7;
}

.project .project-container button .animate-lines {
  background: #008080;
  width: 150%;
  height: 25px;
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 75%);
  -webkit-animation: animate-span 10s linear infinite;
          animation: animate-span 10s linear infinite;
}

@-webkit-keyframes animate-span {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-span {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.project .padding-box {
  width: 100%;
  background: #4A4C7E;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .padding-box img {
  width: 10%;
  -webkit-animation: animate 3s linear infinite;
          animation: animate 3s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (max-width: 800px) {
  .project .project-container .project-content {
    -ms-grid-columns: (minmax(auto, 100px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
  }
  .project .project-container .project-content button:hove {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .project .project-container .project-content button:active {
    -webkit-box-shadow: 0 0 10px #000000;
            box-shadow: 0 0 10px #000000;
  }
}
/*# sourceMappingURL=Project.css.map */