//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
.proyectos {
	display: grid;
	grid-column: 1/9;
	grid-row: 4/5;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	// title
	.container-title-proyectos {
		background-color: var(--bg_aliceBlue);
		justify-self: center;
		place-items: center;
		outline: 2px solid var(--border_gray_claro);
		box-shadow: 0 -10px 10px var(--shadow_black_opacity50);
		padding: 0 5px;
		width: fit-content;
		text-align: center;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		z-index: 10;
		transition: 0.5s;

		display: flex;
		grid-column: 1/3;
		grid-row: 1/2;
		&.darkMode {
			background-color: var(--bg_gray_oscuro);
			box-shadow: 0 -10px 10px var(--shadow_white_opacity50);
		}
		.title-proyectos {
			font-size: 1.5rem;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			margin-right: 10px;
			color: var(--text_teal_opacity100);
			transition: 0.5s;
			&.darkMode {
				color: var(--text_gray_claro);
			}
		}
		svg {
			width: 2.5rem;
			fill: var(--iconSVG_teal_opacity100);
		}
	}
	// content
	.container-proyectos {
		border: 2px solid var(--border_gray_claro);
		box-shadow: 0 0 10px var(--shadow_black_opacity100);
		background-color: var(--bg_aliceBlue);
		border-radius: 10px;
		margin: 0 4% 25px 4%;

		display: flex;
		flex-direction: column;
		grid-column: 1/3;
		grid-row: 2/3;
		// content
		.content-proyectos {
			gap: 25px;
			transition: 0.5s;
			padding: 10px;

			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(auto, 100px));
			grid-template-rows: repeat(auto-fill), minmax(auto, 200px);
			&.darkMode {
				color: var(--text_gray_claro);
				box-shadow: 0 0 10px var(--shadow_white_opacity100);
			}
			// content
			div {
				justify-self: center;
				height: min-content;
				box-shadow: 0 5px 5px var(--shadow_black_opacity25);
				border-radius: 10px;
				div {
					justify-content: center;

					display: flex;
					flex-direction: column;
					img {
						width: 100%;
						cursor: pointer;
					}
					h1 {
						text-align: center;
						font-size: 1rem;
						color: var(--text_gray_medioOscuro);
					}
				}
			}
		}
		// button
		span {
			width: 100%;

			display: grid;
			button {
				justify-self: center;
				align-self: flex-end;
				border-radius: 5px;
				background: var(--bg_teal_opacity100);
				box-shadow: 0 -5px 10px var(--shadow_teal_opacity25);
				width: 25%;
				padding: 5px 0;
				color: var(--text_white_opacity100);
				&:hover {
					box-shadow: 0 0 10px var(--shadow_teal_opacity100);
				}
				&:active {
					box-shadow: none;
				}
			}
		}
	}
}

//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media screen and (max-width: 2000px) {
	.proyectos {
		display: grid;
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		// title
		.container-title-proyectos {
			/**
			*?	repeat
			*/
			&.darkMode {
				background-color: var(--bg_gray_oscuro);
				box-shadow: 0 -10px 10px var(--shadow_white_opacity50);
			}
			.title-proyectos {
				font-size: 1.5rem;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				margin-right: 10px;
				color: var(--text_teal_opacity100);
				transition: 0.5s;
				&.darkMode {
					color: var(--text_gray_claro);
				}
			}
			svg {
				width: 2.5rem;
				fill: var(--iconSVG_teal_opacity100);
			}
		}
		// content
		.container-proyectos {
			.content-proyectos {
				transition: 0.5s;
				position: relative;
				overflow: hidden;

				display: grid;
				grid-column: 1/3;
				grid-row: 2/3;
				grid-template-columns: repeat(auto-fit, minmax(auto, auto-fit));
				&.darkMode {
					color: var(--text_gray_claro);
					box-shadow: 0 0 10px var(--shadow_white_opacity100);
				}
				// content
				div {
					box-shadow: 0 5px 5px var(--shadow_black_opacity25);
					border-radius: 10px;
					overflow: hidden;
					div {
						justify-content: center;

						display: flex;
						flex-direction: column;
						img {
							width: 100%;
							cursor: pointer;
						}
						h1 {
							text-align: center;
							font-size: 1rem;
							color: var(--text_gray_medioOscuro);
						}
					}
				}
				// ver mas
				button {
					justify-self: center;
					align-self: flex-end;
					border-radius: 5px;
					background: var(--bg_teal_opacity100);
					width: 25%;
					padding: 5px 0;
					margin-top: 25px;
					justify-self: center;
					align-self: flex-end;
					color: var(--text_white_opacity100);
					position: absolute;
					&:hover {
						box-shadow: none;
					}
					&:active {
						box-shadow: none;
					}
				}
			}
		}
	}
}
