//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
.sobreMi {
	width: 100%;
	justify-items: center;
	gap: 25px;
	padding: 50px 0;

	display: grid;
	grid-column: 1/9;
	grid-row: 3/4;
	// title
	.title-sobreMi {
		color: #e4f5ef;
		background: linear-gradient(90deg, #4a4c7e 0%, #4a4c7e 78%, #A5A6C7 78%, #A5A6C7 100%);
		border-radius: 10px;
		padding: 0 10px;
		width: fit-content;
		z-index: 10;
		transition: 0.5s;
		font-size: 2rem;
		align-items: center;

		display: flex;
		// text title
		h3 {
			margin-right: 10px;
			transition: 0.5s;
		}
		// icon
		i {
			color: #4a4c7e;
			margin-left: 10px;
			transition: 0.5s;
		}
	}
	// content
	.sobreMi-content {
		width: 90%;
		justify-content: space-evenly;
		gap: 30px;

		display: grid;
		.my-hobbies,
		.my-personal-data,
		.my-passions {
			align-items: center;

			display: flex;
			img {
				width: 40%;
				height: 70%;
			}
			// title, paragraph
			div {
				margin-left: 10px;

				display: grid;
				grid-template-columns: repeat(8, auto);
				grid-template-rows: repeat(8, auto);
				// title,
				h1 {
					color: #4a4c7e;
					text-shadow: 0 0 5px #4a4c7e;
					font-size: 1.5rem;
					justify-self: start;
					align-items: center;

					display: flex;
					grid-column: 1/9;
					grid-row: 1/2;
					b {
						color: #008080;
						width: 25px;
						height: 25px;
						margin-right: 10px;
						text-align: center;
						text-justify: newspaper;
						border-radius: 50px;
						background: #A5A6C7;
						padding: 5px;
						text-shadow: none;
						font-size: 1.2rem;
					}
				}
				b {
					color: #4a4c7e;
					text-shadow: 0 0 5px #4a4c7e;
				}
				// paragraph
				p {
					margin-top: 10px;
					transition: .5s;
					font: {
						family: monospace;
						size: 1rem;
						weight: 900;
					}
					text-align: start;
					color: var(--textGray2);

					grid-column: 1/9;
					grid-row: 3/4;
				}
			}
		}
	}
	// padding-box
	.padding-box {
		width: 100%;
		background: #4A4C7E;
		justify-content: space-evenly;
		overflow: hidden;
		margin-top: 50px;

		display: flex;
		img {
			width: 10%;
			animation: animate 2s linear infinite;
			@keyframes animate {
				0% {
					transform: rotate(0);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}
}
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media screen and (max-width: 800px) {
	.sobreMi {
		.sobreMi-content {
			gap: 100px; //edit (remove: 30px, add: 100px)
			.my-hobbies,
			.my-passions,
			.my-personal-data {
				width: 95%; //edit (add: 95%)
				justify-self: center; //edit (add: justify-self) 

				flex-direction: column; //edit (flex-direction)
				img {
					margin-bottom: 15px; //edit (add: margin-bottom)
					height: 100%; //edit (remove: 80%, add: 100%)
					width: 100%; //edit (remove: 40%, add: 100%)
				}
				div {
					h1 {
						text-shadow: 0 0 2px #fff; //edit (remove: [0, 0, 5px, #4a4c7e], add:[0 0 0 2px #fff])
					}
					b {
						text-shadow: 0 0 2px #fff; //edit (remove: [0, 0, 5px, #4a4c7e], add:[0 0 0 2px #fff])
					}
				}
			}
			.my-passions {
				flex-direction: column-reverse; //edit (remove: column, add: column-reverse)
			}
		}
	}
}
