.sobreMi {
  width: 100%;
  justify-items: center;
  gap: 25px;
  padding: 50px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.sobreMi .title-sobreMi {
  color: #e4f5ef;
  background: -webkit-gradient(linear, left top, right top, from(#4a4c7e), color-stop(78%, #4a4c7e), color-stop(78%, #A5A6C7), to(#A5A6C7));
  background: linear-gradient(90deg, #4a4c7e 0%, #4a4c7e 78%, #A5A6C7 78%, #A5A6C7 100%);
  border-radius: 10px;
  padding: 0 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sobreMi .title-sobreMi h3 {
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sobreMi .title-sobreMi i {
  color: #4a4c7e;
  margin-left: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sobreMi .sobreMi-content {
  width: 90%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 30px;
  display: -ms-grid;
  display: grid;
}

.sobreMi .sobreMi-content .my-hobbies,
.sobreMi .sobreMi-content .my-personal-data,
.sobreMi .sobreMi-content .my-passions {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sobreMi .sobreMi-content .my-hobbies img,
.sobreMi .sobreMi-content .my-personal-data img,
.sobreMi .sobreMi-content .my-passions img {
  width: 40%;
  height: 70%;
}

.sobreMi .sobreMi-content .my-hobbies div,
.sobreMi .sobreMi-content .my-personal-data div,
.sobreMi .sobreMi-content .my-passions div {
  margin-left: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[8];
      grid-template-columns: repeat(8, auto);
  -ms-grid-rows: (auto)[8];
      grid-template-rows: repeat(8, auto);
}

.sobreMi .sobreMi-content .my-hobbies div h1,
.sobreMi .sobreMi-content .my-personal-data div h1,
.sobreMi .sobreMi-content .my-passions div h1 {
  color: #4a4c7e;
  text-shadow: 0 0 5px #4a4c7e;
  font-size: 1.5rem;
  justify-self: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.sobreMi .sobreMi-content .my-hobbies div h1 b,
.sobreMi .sobreMi-content .my-personal-data div h1 b,
.sobreMi .sobreMi-content .my-passions div h1 b {
  color: #008080;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  text-align: center;
  text-justify: newspaper;
  border-radius: 50px;
  background: #A5A6C7;
  padding: 5px;
  text-shadow: none;
  font-size: 1.2rem;
}

.sobreMi .sobreMi-content .my-hobbies div b,
.sobreMi .sobreMi-content .my-personal-data div b,
.sobreMi .sobreMi-content .my-passions div b {
  color: #4a4c7e;
  text-shadow: 0 0 5px #4a4c7e;
}

.sobreMi .sobreMi-content .my-hobbies div p,
.sobreMi .sobreMi-content .my-personal-data div p,
.sobreMi .sobreMi-content .my-passions div p {
  margin-top: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: monospace;
  font-size: 1rem;
  font-weight: 900;
  text-align: start;
  color: var(--textGray2);
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.sobreMi .padding-box {
  width: 100%;
  background: #4A4C7E;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  overflow: hidden;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sobreMi .padding-box img {
  width: 10%;
  -webkit-animation: animate 2s linear infinite;
          animation: animate 2s linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .sobreMi .sobreMi-content {
    gap: 100px;
  }
  .sobreMi .sobreMi-content .my-hobbies,
  .sobreMi .sobreMi-content .my-passions,
  .sobreMi .sobreMi-content .my-personal-data {
    width: 95%;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobreMi .sobreMi-content .my-hobbies img,
  .sobreMi .sobreMi-content .my-passions img,
  .sobreMi .sobreMi-content .my-personal-data img {
    margin-bottom: 15px;
    height: 100%;
    width: 100%;
  }
  .sobreMi .sobreMi-content .my-hobbies div h1,
  .sobreMi .sobreMi-content .my-passions div h1,
  .sobreMi .sobreMi-content .my-personal-data div h1 {
    text-shadow: 0 0 2px #fff;
  }
  .sobreMi .sobreMi-content .my-hobbies div b,
  .sobreMi .sobreMi-content .my-passions div b,
  .sobreMi .sobreMi-content .my-personal-data div b {
    text-shadow: 0 0 2px #fff;
  }
  .sobreMi .sobreMi-content .my-passions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=sobreMi.css.map */