//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Desktop¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
//  ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
.sobreMi {
	display: grid;
	grid-column: 1/9;
	grid-row: 3/4;
	grid-template-columns: repeat(2, auto);
	grid-auto-rows: min-content;
	.title-sobreMi-container {
		background-color: var(--bg_aliceBlue);
		justify-self: center;
		place-items: center;
		border-top: 2px solid var(--border_gray_claro);
		border-left: 2px solid var(--border_gray_claro);
		border-right: 2px solid var(--border_gray_claro);
		box-shadow: 0 -10px 10px var(--shadow_black_opacity50);
		padding: 5px;
		width: max-content;
		border-top-left-radius: 25px;
		border-top-right-radius: 25px;
		z-index: 10;
		transition: 0.5s;

		display: flex;
		grid-column: 1/3;
		&.darkMode {
			background-color: var(--bg_gris_oscuro);
			box-shadow: 0 -10px 10px var(--shadow_white_opacity50);
		}
		.title-sobreMi {
			text-align: center;
			font-size: 1.5rem;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			margin-right: 10px;
			color: var(--text_teal_opacity100);
			transition: 0.5s;
			&.darkMode {
				color: var(--text_gray_claro);
			}
		}
		svg {
			width: 2.5rem;
			fill: var(--iconSVG_teal_opacity100);
		}
	}
	.sobreMi-content {
		margin: 0 4% 25px 4%;
		padding: 4%;
		border: 2px solid var(--border_gray_claro);
		box-shadow: 0 0 10px var(--shadow_black_opacity100);
		background-color: var(--bg_aliceBlue);
		transition: 0.5s;
		border-radius: 10px;

		display: grid;
		grid-column: 1/3;
		grid-row: 2/3;
		grid-template-columns: repeat(8, auto);
		grid-template-rows: repeat(8, auto);
		&.darkMode {
			color: var(--text_gray_claro);
			background-color: var(--bg_gris_oscuro);
			box-shadow: 0 0 10px var(--shadow_white_opacity100);
		}
		// my hobbys
		.myHobbys-container {
			padding: 0 10px;

			grid-column: 1/9;
			grid-row: 1/2;
			border-radius: 3px;
			background: linear-gradient(90deg, #a5a6c7 0%, #a5a6c7 50%, #4a4c7e 50%, #4a4c7e 100%);

			display: flex;
			img {
				width: 50%;
			}
			// title, paragraph and btn
			div {
				margin-left: 10px;

				display: grid;
				grid-template-columns: repeat(8, auto);
				grid-template-rows: repeat(8, auto);
				// title,
				h1 {
					color: var(--text_white_opacity100);
					text-shadow: 0 0 5px var(--shadow_white_opacity100);
					font-size: 1.5rem;
					justify-self: start;

					grid-column: 1/9;
					grid-row: 1/2;
				}
				b {
					color: var(--text_white_opacity100);
					text-shadow: 0 0 5px var(--shadow_white_opacity100);
				}
				// paragraph
				p {
					font: {
						family: monospace;
						size: 1rem;
						weight: 900;
					}
					text-align: start;
					color: var(--text_white_opacity75);

					grid-column: 1/9;
					grid-row: 3/4;
				}
				// btn
				svg {
					fill: var(--iconSVG_white_opacity100);
					margin: 0 0 5px 0;
					width: 25px;
					grid-column: 8/9;
					grid-row: 8/9;
					cursor: pointer;
					&:active {
						fill: var(--iconSVG_teal_opacity100);
					}
				}
			}
		}
		// my passion
		.pasion-container {
			border-radius: 3px;
			padding: 0 10px;
			margin-top: 25px;
			background: linear-gradient(90deg, #4a4c7e 0%, #4a4c7e 50%, #a5a6c7 50%, #a5a6c7 100%);

			display: flex;
			grid-column: 1/9;
			grid-row: 2/3;
			// title, paragraph and btn
			div {
				margin: 0 10px 5px 0;
				width: 50%;

				display: grid;
				grid-template-columns: repeat(8, auto);
				grid-template-rows: repeat(8, auto);
				// title
				h1 {
					color: var(--text_white_opacity100);
					text-shadow: 0 0 5px var(--shadow_white_opacity100);
					font-size: 1.5rem;
					justify-self: start;
					grid-column: 1/9;
					grid-row: 1/2;
				}
				b {
					color: var(--text_white_opacity100);
					text-shadow: 0 0 5px var(--shadow_white_opacity100);
				}
				// paragraph
				p {
					font: {
						family: monospace;
						size: 1rem;
						weight: 900;
					}
					text-align: start;
					color: var(--text_white_opacity75);

					grid-column: 1/9;
					grid-row: 3/4;
				}
				// btn Más
				svg {
					fill: var(--iconSVG_white_opacity100);
					width: 25px;
					grid-column: 8/9;
					grid-row: 8/9;
					cursor: pointer;
					&:active {
						fill: var(--iconSVG_teal_opacity100);
					}
				}
			}
			img {
				padding: 0 0 0 10px;
				width: 50%;
			}
		}
		// my data
		.myData-container {
			padding: 5px;
			margin-top: 25px;
			box-shadow: 0 5px 10px var(--shadow_black_opacity25);
			border-radius: 5px;
			justify-self: center;
			width: 90%;

			grid-column: 1/9;
			grid-row: 3/4;
			h1 {
				margin-top: 0;
				color: var(--text_teal_opacity100);
			}
			b {
				color: var(--text_teal_opacity100);
			}
			p {
				font: {
					size: 1rem;
					weight: 900;
					family: monospace;
				}
			}
		}
	}
}
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦Mobile¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
// ¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦¦
@media screen and (max-width: 800px) {
	.sobreMi {
		.sobreMi-content {
			// my hobbys
			.myHobbys-container {
				height: 750px; //edit (add: height)
				background: linear-gradient(
					180deg,
					#a5a6c7 0%,
					#a5a6c7 50%,
					#4a4c7e 50%,
					#4a4c7e 100%
				); //edit (remove: 90deg, add: 180deg)


				flex-direction: column; // edit (add: flex-direction)
				img {
					width: 100%;
					// edit (delete: 50% add: 100%)
					height: 50%;
					// edit (add: height)
				}
				div {
					margin: 0;
					height: 50%;
					// edit (add: height)
				}
			}
			// my passion
			.pasion-container {
				height: 500px; // edit (add: height)
				background: linear-gradient(
					0deg,
					#4a4c7e 0%,
					#4a4c7e 50%,
					#a5a6c7 50%,
					#a5a6c7 100%
				); // edit (remove: 90de, add: 180deg)

				flex-direction: column-reverse; // edit (add: flex-direction)
				div {
					width: 100%; // edit (remove: 50%, add: 100%)
					height: 50%; // edit (add: widht)
				}
				img {
					width: 100%;
					// edit (remove: 50%, add: 100%)
					height: 50%;
					// edit (add: height)
				}
			}
			// my data
			.myData-container {
				width: 100%; // edit (remove: 90%, add: 100%)
				box-shadow: 0 0px 10px var(--shadow_black_opacity25); //edit (remove: y5px, add: y0px)
			}
		}
	}
}
